<!DOCTYPE html>
  <%- include('partials/head'); %>
  <body>
    <div class="container mt-5">
      <h1>Hello, world!</h1>
      
      <div hx-get="/test" hx-swap="innerHTML" hx-trigger="every 1s">

      </div>
    </div>
  </body>
</html>

